.single {
  line-height: 2;

  .content {

    h1, h2, h3, h4, h5, h6 {
      margin-top: 4em;
    }
    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      margin-top: 0;
    }

    > :first-child {
      margin-top: 0;
    }

    img {
      max-width: 100%;
      border-radius: 3px;
      margin: 1em 0;
    }

    code {
      display: inline-block;
      font-size: $fz-small;
      font-family: menlo, monaco, monospace;
      background-color: #eee;
      padding: .2rem .5rem;
      border-radius: .2rem;
      line-height: $lh-title;
      word-break: break-all;
      white-space: pre-wrap;
    }

    pre code {
      display: block;
      padding: .8rem 1rem;
    }

    hr {
      margin: 3rem 0;
      height: 0;
      border: none;
      border-top: 1px dashed $color-border;
    }

    blockquote {
      padding: 1rem 1.5rem;
      margin: 2em 0;
      border-left: 5px double $color-border;

      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }

    table {
      width: 100%;
      font-size: $fz-small;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      margin: 1.5rem 0;
    }
    tr {
      border-bottom: 1px solid $color-border;
    }
    table tr:nth-child(odd) > td {
      background-color: #f8f8f8;
    }
    th, td {
      padding: .5rem;
    }
    th {
      font-weight: 600;
    }

    ul, ol {
      padding-left: 1.5rem;
    }
    li {
      margin: 5px 0;
    }
    ol > li {
      list-style: decimal;
    }
    ul > li {
      list-style: disc;
    }
    ul ul > li {
      list-style: circle;
    }
    ul ul ul > li {
      list-style: square;
    }


    /*
     * embed
     */
    figure, .embed {
      width: 100%;
      margin: 4rem auto;

      iframe, img {
        display: block;
        margin: 0 auto;
      }
    }

    figure {
      figcaption h3,
      figcaption h4 {
        font-size: 98%;
        font-weight: 500;
        text-align: center;
        margin: 1rem 0;
      }
    }

    .aspect16-9 {
      position: relative;
      padding: 56.25% 0 0 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
