{{ define "main" }}

  <main class="main list">

    <ul class="posts">
      {{ $paginator := .Paginate (where .Pages "Section" "post") }}
      {{ range $paginator.Pages }}
        <li class="posts_post">
          <a href="{{ .Permalink }}">
            {{ partial "postmeta/thumbnail.html" . }}

            <h2 class="post_title title">{{ .Title }}</h2>

            {{ partial "postmeta/pubtime.html" . }}

            <div class="post_summary">
              {{ .Summary }}{{ if .Truncated }}……{{ end }}
            </div>

            {{ partial "postmeta/tags.html" . }}
          </a>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

  </main>

{{ end }}
